.topBanner{
    background-image: url('../images/banner.jpeg');
    min-height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.topBannerCover{
    position: absolute;
    min-height: 800px;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
}

.topBannerContent{
    margin-top: 20em;
}

.topBannerTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.topBannerSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:azure;
    font-size: 20px;
}

.mainTitle{
    font-family: 'Montagu Slab', sans-serif;
    font-size: 35x;
    font-weight: 600;
    color: #051b35;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mainBottomTitle{
    font-family: 'Montagu Slab', sans-serif;
    font-size: 35x;
    font-weight: 400;
    color: #ffffff;
}

.bottomLine{
    background: #051b35 none repeat scroll 0 0;
    height: 3px;
    width: 180px;
    margin: -1.5rem auto 0;
    margin-bottom: 1em;
}

.bottomBottomLine{
    background: #ffffff none repeat scroll 0 0;
    height: 3px;
    width: 180px;
    margin: -1.5rem auto 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cardImage{
    height: 90px;
    width: 100px;
}

.featureCard{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 8px 0 rgba(4, 55, 105, 0.2);
}

.featureCard:hover{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 2px 2px 16px 2px rgba(4, 55, 105, 0.2);
}

.featureName{
    color: saddlebrown;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.featureDescription{
    color: #051b35;
    margin-top: 1em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.brandName{
    font-family: 'The Nautigal', sans-serif;
    font-weight: 600;
    color: #ffffff !important;
    font-size: 30px;
}

.brandNameScroll{
    font-family: 'The Nautigal', sans-serif;
    font-weight: 600;
    color: sandybrown !important;
    font-size: 30px;
}

.navBar{
    transition: background-color 200ms linear; 
    background-color: rgba(0, 0, 0, 0.02);
}

.navBarScroll{
    transition: background-color 200ms linear; 
    background-color: rgba(0, 0, 0, 0.8);
}

.navItem{
    text-decoration: none !important;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

.navItem:hover{
    text-decoration: none !important;
    font-family: 'Montserrat Alternates', sans-serif;
    color: yellow;
    font-weight: 600;
    font-size: 16px;
}

.navItemScroll{
    text-decoration: none !important;
    font-family: 'Montserrat Alternates', sans-serif;
    color: darkgoldenrod;
    font-weight: 600;
    font-size: 16px;
}

.navItemScroll:hover{
    text-decoration: none !important;
    font-family: 'Montserrat Alternates', sans-serif;
    color: yellow;
    font-weight: 600;
    font-size: 16px;
}

.bottomBanner{
    background-image: url('../images/bottom_banner.svg');
    min-height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bottomBannerCover{
    min-height: 400px;
    width: 100%;
    background: rgba(12, 11, 3, 0.428);
}

.countNumber{
    font-family: 'Bungee', sans-serif;
    color: rgb(240, 158, 6);
    font-weight: 400;
    font-size: 60px;
}

.smallTitle{
font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
}

.bottomBannerTitle{
    font-family: 'Bungee', sans-serif;
    color: rgb(240, 158, 6);
    font-weight: 400;
}

.bottomBannerDescription{
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.bottomBannerItem{
    margin-top: 3%;
}

.smallTitle{
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 33px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
}

.bigIcon{
    color:rgb(240, 158, 6);
    font-size: 50px;
    margin-bottom: 20px;
}

.footerSection{
    box-shadow: 0 0 8 0;
    background-color: black;
}

.footerTextTitle{
    color: aliceblue;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'Bungee', sans-serif;
    font-weight: 400;
}

.footerText{
    color: aliceblue;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'Domine', sans-serif;
    font-weight: 600;
}

.socialContent{
    margin-top: 20px;
}

a.social{
    margin: 0 1rem;
    transition: transform 200ms;
    display: inline-block;
}

a.social:hover{
    transform: translateY(-3px);
    color:rgb(240, 158, 6);
}

.socialIcon{
    color: aliceblue;
}

.smallIcon{
    margin-right: 10px;;
}

.footerLink{
    color: aliceblue;
    text-decoration: none !important;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'Domine', sans-serif;
    font-weight: 600;
}

.footerLink:hover{
    text-decoration: none !important;
    color: rgb(240, 158, 6);
}

.card{
    margin-bottom: 2rem;
}

.cardHeader{
    color: #051b35;
    font-family: 'Domine', sans-serif;
    font-weight: 600;
}

.cardBody{
    color: #051b35;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'Domine', sans-serif;
    font-weight: 600;
}

.button{
    margin-top: 1rem;
    color:#051b35;
    background-color: rgb(240, 158, 6);
}

.pageTitle{
    background-image: url('../images/background.jpeg');
    min-height: 350px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.pageTitleCover{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
}

.pageTitleContent{
    margin-top: 10em;
}

.pageTitleText{
    font-family: 'Bungee', sans-serif;
    font-weight: 700;
    color: rgb(240, 158, 6);
}

.textTitle{
    color: #523c05;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.textNormal{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

