/* sign in FORM */
#logreg-forms{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 16px;
    background-color: rgb(224, 134, 31);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
    max-width: 430px;
    padding: 20px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#logreg-forms .form-control:focus { 
    z-index: 2; 
}

#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:white;
    font-size: 0.9rem;
    display: block;
}

#logreg-forms a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    display: block;
    padding-top:10px;
    color:black;
}

#logreg-forms a:hover{
    display: block;
    padding-top:10px;
    color:white;
}

#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:200px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    
    #logreg-forms  .social-login{
        width:150px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 200;
        color:white;
        width:150px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}

.loginBackground{
    background-image: url('../images/login_background.jpeg');
    max-height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.loginText{
    font-family: 'Bungee', sans-serif;
    font-weight: 700;
    color: #f3f3f3;
}

.btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:white;
    font-size: 0.9rem;
}

.formLabel{
    font-size: 17px;
}

.formButton{
    font-size: 17px;
    font-weight: 700;
}