
.customDatatable {
    height: 700px;
    padding: 20px;
}

.customDatatableHeader {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customDatatableTitle {
    margin-bottom: 10px;
    font-family: 'Railway', sans-serif;
    font-size: 20px;
    color: #1C4E80;
    text-transform: capitalize;
}

.statusActive {
    padding: 2px 5px;
    margin-left: 2px;
    border-radius: 5px;
    color:rgb(12, 139, 67);
    border: 1px solid rgb(4, 113, 73);
}

.statusPending {
    padding: 2px 5px;
    margin-left: 2px;
    border-radius: 5px;
    color:rgb(255, 119, 0);
    border: 1px solid rgb(139, 65, 0);
}

.statusOnGoing {
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 2px;
    color:rgb(0, 128, 255);
    border: 1px solid rgb(0, 44, 139);
}

.statusPassive {
    padding: 2px 5px;
    margin-left: 2px;
    border-radius: 5px;
    color:rgb(255, 55, 0);
    border: 1px solid rgb(139, 12, 0);
}

.expense {
    padding: 2px 5px;
    margin-left: 2px;
    border-radius: 5px;
    color:#1C4E80;
    border: 1px solid #1C4E80;
}

.earned {
    padding: 2px 5px;
    margin-left: 2px;
    border-radius: 5px;
    color:#0091D5;
    border: 1px solid #0091D5;
}

.createBtn {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: #1C4E80;
    border: 1px solid #1C4E80;
    cursor: pointer;
}

.createBtn:hover {
    text-decoration: none;
    color: #1C4E80;
    background-color: #dde8f5;
}

.currentBalance {
    font-family: 'Bungee', sans-serif;
    font-weight: 600;
    color: #EA6A47;
    margin-left: 20px;
}


