.sideBar {
    flex: 1;
    border-right: 0.5px solid rgb(192, 185, 185);
    min-height: 100vh;
    background-color: whitesmoke;
}

.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customHr {
    height: 0;
    border: 0.5px solid rgb(192, 185, 185);
    margin-top: 0;
}

.center {
    padding-left: 10px;
}

.customUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.itemGroup {
    font-size: 15px;
    font-weight: bold;
    color: rgb(43, 104, 202);
    margin-top: 15px;
    margin-bottom: 7px;
}

.customLi {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.customLi:hover {
    background-color: rgb(233, 175, 134);
}

.sideBarIcon {
    font-size: 18px;
    color: darkred;
}

.itemName {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    font-weight: 600px;
    color: rgba(159, 75, 7, 0.79);
    margin-left: 15px;
}