.sideBar {
    /* flex: 1; */
    border-right: 2px solid #caced2;
    min-height: 100vh;
    background-color: #1C4E80;
    width: 250px;
}

.customLogo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: #f1f1f1 !important;
    font-size: 20px;
}

.customLogo:hover{
    text-decoration: none;
}

.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customHr {
    height: 0;
    border: 1px solid #caced2;
    margin-top: 0;
}

.center {
    padding-left: 10px;
}

.customUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.itemGroup {
    font-size: 15px;
    font-weight: bold;
    color: #a5d8dd;
    margin-top: 15px;
    margin-bottom: 7px;
}

.customLi {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.customLi:hover {
    background-color: #7E909A;
}

.sideBarIcon {
    font-size: 19px;
    margin-left: 13px;
}

.itemName {
    font-family: 'Anek Telugu', sans-serif;
    font-size: 17px;
    font-weight: 600px;
    margin-left: 15px;
}