.renterSideBar {
    background-color: #6AB187;
    border-right: 2px solid #caced2;
    min-height: 100vh;
    width: 250px;
}

.renterItemGroup {
    font-size: 15px;
    font-weight: bold;
    color: #1F3F49;
    margin-top: 15px;
    margin-bottom: 7px;
}

