.renterSideBar {
    background-color: #14213D;
    border-right: 2px solid #caced2;
    min-height: 100vh;
    width: 250px;
}

.renterItemGroup {
    font-size: 15px;
    font-weight: bold;
    color: #e5e5e5;
    margin-top: 15px;
    margin-bottom: 7px;
}

