.renterTopBar {
    height: 50px;
    background-color: #14213D;
    position: sticky;
    border-bottom: 0.5px solid rgb(192, 185, 185);
    display: flex;
    align-items: center;
    font-size: 14px;
}

